.tracking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  text-align: left;
  justify-content: center;
  background-color: var(--color-tracking);
  width: 20rem;
  height: 5.5rem;
  border-radius: 1.5rem;
}
.tracking__title {
  padding: 1rem;
  display: grid;
  color: var(--color-contrast);
}
