.tracking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: var(--color-tracking);
  border-radius: 1.5rem;
  padding: 1rem;
}
.tracking__title {
  padding-right: 1rem;
  color: var(--color-contrast);
}
