.main-article-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: var(--color-inactive);
  border-radius: 2rem;
  padding: 1rem;
}
.main-article-card__readnow {
  display: grid;
  row-gap: 0.4rem;
  padding: 0.8rem;
}
.main-article-card__title {
  font-size: 0.6rem;
  color: var(--color-secondary);
}
